# Dependências
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/

# Build e cache
dist/
build/
.cache/
*.log

# Arquivos temporários
*.tmp
*.swp

# Ambiente e credenciais
.env
*.env

# React Native
android/
ios/
*.keystore

# Sistema operacional
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
